body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #444;
    box-sizing: border-box;
    overflow: hidden;
    background-image: linear-gradient(to bottom,#1b2947,#2b3152,#3b385d,#4c4067,#5d4771);
    z-index: -99;
}



/* 旋转相册开始 */
.big{
    width: 600px;
    height: 300px;
    /* border: 2px solid red; */
    margin: 150px auto 0;
    perspective: 800px;

}
.big .box{
    width: 600px;
    height: 300px;
    /* background-color: yellow; */
    /* transition: all ease 1s; */
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s ease infinite ;

}
.big .box:hover{
    animation-play-state: paused;
}
/* .scene:hover .box{
    transform: rotateY(-300deg);
} */
.box .item{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    overflow: hidden;
    box-sizing: border-box;
}
.box .item img{
    display: block;
    width: 200px;
    height: 200px;
    
    
}
.box .item:nth-child(1){
    transform: translateZ(300px);
}
.box .item:nth-child(2){
    transform: rotateY(40deg) translateZ(300px);

}
.box .item:nth-child(3){
    transform: rotateY(80deg) translateZ(300px);

}
.box .item:nth-child(4){
    transform: rotateY(120deg) translateZ(300px);

}
.box .item:nth-child(5){
    transform: rotateY(160deg) translateZ(300px);

}
.box .item:nth-child(6){
    transform: rotateY(200deg) translateZ(300px);

}
.box .item:nth-child(7){
    transform: rotateY(240deg) translateZ(300px);

}
.box .item:nth-child(8){
    transform: rotateY(280deg) translateZ(300px);

}
.box .item:nth-child(9){
    transform: rotateY(320deg) translateZ(300px);
}
/* 旋转相册结束 */

/* 定义关键帧 */
@keyframes rotate {

    0%{
        transform: rotateX(-10deg) rotateY(0deg)  ;
    }

    100%{
        transform: rotateX(-10deg)  rotateY(-360deg)  ;
    }
}

/* 流星开始 */
.xing{
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
                0 0 0 8px rgba(255, 255, 255, 0.1),
                0 0  20px rgba(255, 255, 255, 1)
                ;
    animation: infinite fei 3s linear;
}
.xing::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}

/* 流星关键帧 */
@keyframes fei{
    0%{
        transform: rotate(315deg) translateX(0);
        opacity: 1;

    }
    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;

    }
}

/* 不同的星星安排 */
.xing:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay:0 ;
    animation-duration: 1s;
}
.xing:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay:0.2s ;
    animation-duration: 3s;
}
.xing:nth-child(3){
    top: 80;
    right: 0px;
    left: initial;
    animation-delay:0.4s ;
    animation-duration: 2s;
}
.xing:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay:0.6s ;
    animation-duration: 1.5s;
}
.xing:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay:0.8s ;
    animation-duration: 2.5s;
}
.xing:nth-child(6){
    top: 0;
    right: 600px;
    left: initial; 
    animation-delay:1s ;
    animation-duration: 3s;
}
.xing:nth-child(7){
    top: 300;
    right: 0px;
    left: initial; 
    animation-delay:1.2s ;
    animation-duration: 1.7s;
}
.xing:nth-child(8){
    top: 0;
    right: 700px;
    left: initial; 
    animation-delay:1.4s ;
    animation-duration: 1.2s;
}
.xing:nth-child(9){
    top: 0;
    right: 1000px;
    left: initial; 
    animation-delay:0.7s ;
    animation-duration: 2.2s;
}
.xing:nth-child(10){
    top: 0;
    right: 450px;
    left: initial; 
    animation-delay:2.7s ;
    animation-duration: 2.2s;
    
}

/* 月亮 */
.yue{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #ffeaa7;
    border-radius: 50%;
    box-shadow: 0 0 20px #ffeaa7;

}